@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&family=Sedgwick+Ave&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedgwick+Ave&display=swap");
@media (max-width: 1212px) {
  aside {
    display: flex auto;
    height: 350px;
    width: 100%;
    background-color: #15292F;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
  }
}

@media (max-width: 1212px) {
  aside .video-img img {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
  }
}

@media (max-width: 1212px) {
  img {
    object-fit: cover;
  }
}

@media (max-width: 1212px) {
  aside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
  }
}

@media (max-width: 1104px) {
  aside {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
  }
}

@media (max-width: 1104px) {
  aside .video-img {
    flex-direction: column;
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 964px) {
  aside {
    height: auto;
  }
}

@media (max-width: 964px) {
  img {
    object-fit: cover;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar ul li {
  list-style: none;
  display: inline;
  margin: 0 10px;
  font-size: 18px;
  font-family: "Sedgwick Ave", cursive;
  font-weight: 400;
  font-style: normal;
}

.main h4 {
  font-size: 20px;
  margin-top: 20px;
}

.main h5 {
  font-size: 15px;
}

.image {
  width: 200px;
  height: 100px;
  border-radius: 10px;
}

.row aside img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.main img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.navbar ul li a {
  color: white;
  padding: 0 5px;
  flex-direction: column;
}

.navbar ul li a:hover {
  background-color: black;
  color: #9E1717;
}

.main .best-car {
  background-color: #15292F;
  padding: 5px;
  color: white;
  border-radius: 10px;
  margin: 10px;
}

.main .best-car:hover {
  background-color: #9E1717;
}

.video-link h4 {
  display: flex;
  opacity: 0;
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  margin-top: 173px;
  margin-left: 5px;
  transition: all 0.3s;
  flex-wrap: wrap;
}

.video-link:hover h4 {
  opacity: 1;
}

header {
  padding: 60px;
  text-align: center;
  background-image: url(../assets/images/auto11.jpg);
}
header .seis {
  color: #9E1717;
}
header div {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  color: white;
  border-radius: 10px;
}

.image {
  width: 200px;
  height: 100px;
  border-radius: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

aside {
  flex: 30 auto;
  padding: 20px;
  background-color: #15292F;
  height: auto;
}

.row aside img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.main {
  flex: 70%;
  height: 100%;
  background-color: #1A3138;
  padding: 20px;
}

.main .audi-rocho {
  color: #9E1717;
}

.main .camaro-desp {
  color: #9E1717;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: #070F2B;
}

.video-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  padding-top: 30px;
  background-color: black;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.end-image {
  border-radius: 10px;
  width: 150px;
  height: auto;
}

.end-line ul li {
  text-align: center;
  list-style-type: none;
  color: wheat;
}

.end-line ul {
  padding-top: 15px;
}

.end-line a {
  display: flex;
  justify-content: center;
}

.end-line ul li:nth-child(even)::marker {
  content: "🚗";
  color: white;
}

/*# sourceMappingURL=main.css.map */
