*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 3px;
}

@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&family=Sedgwick+Ave&display=swap');

body nav{
    font-family: "Sedgwick Ave", cursive;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

#menu a{
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu button{
    font-size: 18px;
    font-weight: bold;

}

/* CARRUSEL */

.carousel-inner{
    max-height: 33rem;
}

/* Modelos */

@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedgwick+Ave&display=swap');

.logo {
    max-width: 100px;
    height: auto;

}

li,a {
    padding: 10px;
    list-style-type: none;
    color: wheat;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

}


.grid-container{
    background-color: #000000;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px 10px auto auto auto 800px;
    grid-template-areas:
        "header header"
        "nav-izquierda nav-derecha"
        "nav-izquierda nav-derecha"
        "parrafo parrafo"
        "img img"
        "img img"
        "footer footer"
        "footer footer"
    ;
}

header {
    display: flex;
    justify-content: center;
    grid-area: header;
    align-items: center;
    text-align: center;
    gap: 5px;
}

header h1{
    padding-top: 30px;
    font-size: 35px;
}

header h2{
    font-size: 35px;
    color: #CD2014;
    padding-top: 30px;
}

div.nav-izquierda{
    grid-area: nav-izquierda;
    flex-direction: column;
}

div.nav-derecha{
    grid-area: nav-derecha;
    flex-direction: column;
}

.nav-izquierda ul,.nav-derecha ul{
    display: flex;
    justify-content: space-around;
    
}

section.parrafo {
    grid-area: parrafo;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
section.parrafo p:first-child{
    background-color: #091016;
    border-radius: 8px 8px 0 0;
}

section.parrafo p{
    color: azure;
}

section.img-parrafo {
    grid-area: img;
    border-radius: 10px;
}

section.img-parrafo:nth-last-child(1){
    background-color: #540407;
}

section.img-parrafo img {
    width: 100%;
    height: auto;
    
}

img{
    width: 100%;
    height: 450px;
    grid-area: img;
    border-radius: 10px;
}

footer {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    grid-area: footer;
    justify-content: center;
}

footer img {
    width: 150px;
    height: auto;
}

/*  desktop */

@media (min-width: 1331px) {
    .grid-container {
        background-color: #494242;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 100px auto 300px;
        grid-template-areas:
            "nav-izquierda nav-izquierda header header nav-derecha nav-derecha"
            "parrafo parrafo parrafo img img img"
            "footer footer footer footer footer footer"
        ;
        gap: 10px; 
    }
    
    p{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
    
    }

    header{
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .grid-container header h1{
        display: flex;
        align-items: center;
        font-size: 35px;
    }

    .grid-container header h2{
        font-size: 35px;
        color: #CD2014;
        padding: 30px ;
        display: flex;
        align-items: flex-start;
        padding-left: 5px;
    }

    .grid-container header h1{
        padding: 20px 0;
    }
    
    .nav-izquierda{
        padding-top: 30px;
    }
    
    .nav-derecha{
        padding-top: 30px;
    }

    section.parrafo h3{
        margin-bottom: 30px;
    }
    
    
    .logo{
        width: 500px;
        height: 100pxpx;
        background-position: center;
        background-size: cover;
        border-radius: 10px;
    }
    .img-parrafo-uno{
        width: 660px;
        height: 500px;
        background-position: center;
        background-size: cover;
        border-radius: 8px;
    }
    
    section.parrafo {
        grid-area: parrafo;
        align-items: center;
        justify-content: center;
        align-content: center;
        display: flex;
        flex-direction: column;
    }
    
    section.parrafo p:first-child{
        background-color: #091016;
        border-radius: 8px 8px 0 0;
    }

    section.parrafo p:nth-last-child(1)
    {
        background-color: #0B2130;
        margin-top: 5px;
        border-radius: 10px;
        overflow: hidden;
    }
    
    section.parrafo p{
        color: azure;
    }

    .img-parrafo .img-autorojo{
        height: 500px;
    }

    .img-parrafo{
        display: flex;
        flex-direction: column;
    }

    section.img-parrafo img{
        width: 100%;
        height: 300px;
    }
    
    .img-parrafo-dos{
        border-radius: 10px;
        width: 100%;
        height: 300px;
        
    }

    section.img-parrafo p:nth-last-child(2){
        background-color: #540407;
        margin-top: 10px;
        border-radius: 10px;
        overflow: hidden;
    }
    .img-parrafo p{
        display: flex;
        
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px ;
        padding-top: 30px;
        
    }
    .end-image{
        border-radius: 10px;
    }

    .end-line{
        text-align: center;
    }
    .end-line ul{
        padding-top: 15px;
    }

    .end-line ul li:nth-child(even)::marker{
        content: "🚗";
        color: white;
    }



}

/* Agencia */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    
    }
    
    body{
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    header{
        padding: 60px;
        text-align: center;
        background-image: url(../assets/images/auto11.jpg);
        
    }
    
    header .seis{
        color: #9E1717;
    }
    
    header div{
        background-color: rgba(0, 0, 0, 0.7);
        padding: 10px;
        color: white;
        border-radius: 10px;
        
    }
    .image{
        width: 200px;
        height: 100px;
        border-radius: 10px;
    }
    
    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        background-color:  #070F2B;
        
    }
    
    .navbar ul li{
        list-style: none;
        display: inline;
        margin: 0 10px;
        font-size: 18px;
        color: aqua;
        
        
    }
    
    .navbar ul li a{
        color: white;
        padding: 0 5px;
        flex-direction: column;
    
    }
    
    .navbar ul li a:hover{
        background-color: black;
        color: #9E1717;
    }
    
    .row{
        display: flex;
        flex-wrap: wrap;
        height: 100%;
    }
    
    aside{
        flex:30 auto;
        padding: 20px;
        background-color: #15292F;
        height: auto;
    }
    
    .row aside img{
        width: 100%;
        height: 200px;
        border-radius: 10px;
    }
    
    .main{
        flex: 70%;
        height: 100%;
        background-color: #1A3138;
        padding: 20px;
    
    }
    
    .video-link h4{
        display: flex;
        opacity: 0;
        position: absolute;
        color: white;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 5px;
        margin-top: 173px;
        margin-left: 5px;
        transition: all 0.3s;
        flex-wrap: wrap;
        
    }
    
    .video-link:hover h4{
        opacity: 1;
    }
    
    .main img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }
    
    
    
    .main h4{
        font-size: 20px;
        margin-top: 20px;
    
    }
    
    .main h5{
        font-size: 15px;
    }
    
    .main .best-car{
        background-color: #070F2B;
        padding: 5px;
        color: white;
        border-radius: 10px;
        margin: 10px;
    }
    
    .main .best-car:hover{
        background-color: #9E1717;
    }
    
    .main .audi-rocho{
        color: #9E1717;
    }
    
    .main .camaro-desp{
        color: #9E1717;
    }
    
    @media (max-width: 1212px){
        aside{
            display: flex auto;
            height: 350px;
            width: 100%;
            background-color: #070F2B;
        }
    
        aside .video-img img{
            width: 100%;
            height: 300px;
            background-size: cover;
            background-position: center;
        }
        
        aside{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: space-around;
        }
    
    }
    
    @media (max-width: 1104px){
        aside{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-evenly;
            height: auto;
        }
    
        aside .video-img{
            flex-direction: column;
            width: 100%;
            object-fit: cover;
        }
    }
    
    
    @media (max-width: 964px){
        aside{
            height: auto;
        }
    }
    
    .video-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px ;
        padding-top: 30px;
        background-color: black;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;
        
    }
    .end-image{
        border-radius: 10px;
        width: 150px;
        height: auto;
    }
    
    .end-line ul li{
        text-align: center;
        list-style-type: none;
        color: wheat;
    }
    .end-line ul{
        padding-top: 15px;
        
    }
    
    .end-line a{
        display: flex;
        justify-content: center;
    }
    
    .end-line ul li:nth-child(even)::marker{
        content: "🚗";
        color: white;
    }
    





