// MAP Y MIXIN MEDIA QUERY "AGENCIA"


$breakpoints: (
    sm : 964px,
    md : 1104px,
    lg : 1212px
);


@mixin media-up($breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

// LG

aside{
    @include media-up(lg){
    display: flex auto;
    height: 350px;
    width: 100%;
    background-color: $backgraund-quaternary;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    }
}

aside .video-img img{
    @include media-up(lg){
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    }
    
}

img{
    @include media-up(lg){
    object-fit: cover;
    }
}

aside{
    @include media-up(lg){
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    }
}



// MD

aside{
    @include  media-up(md){
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    }
}

aside .video-img{
    @include  media-up(md){
    flex-direction: column;
    width: 100%;
    object-fit: cover;
    }
}

// SM

aside{
    @include media-up(sm){
    height: auto;
    }
}

img{
    @include media-up(sm){
    object-fit: cover;
    }
}


