// MAP Y MIXIN MEDIA QUERY "AGENCIA"


$breakpoints: (
    sm : 964px,
    md : 1104px,
    lg : 1212px
);


@mixin media-up($breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

// LG

aside{
    @include media-up(lg){
    display: flex auto;
    height: 350px;
    width: 100%;
    background-color: $backgraund-quaternary;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    }
}

aside .video-img img{
    @include media-up(lg){
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    }
    
}

img{
    @include media-up(lg){
    object-fit: cover;
    }
}

aside{
    @include media-up(lg){
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    }
}



// MD

aside{
    @include  media-up(md){
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    }
}

aside .video-img{
    @include  media-up(md){
    flex-direction: column;
    width: 100%;
    object-fit: cover;
    }
}

// SM

aside{
    @include media-up(sm){
    height: auto;
    }
}

img{
    @include media-up(sm){
    object-fit: cover;
    }
}

// MODELOS

$medida: (
    sms : 964px,
    mdm : 1168px,
    lgl : 1920px
);


@mixin media-up($medias) {
    @media (max-width: map-get($medida, $medias)) {
        @content;
    }
}

body{
    background-color: $backgraund-tertiary;
    @include media-up(lgl){
        .logo {
            max-width: 100px;
            height: auto;
        
        }
        
        li,a {
            padding: 10px;
            list-style-type: none;
            color: $color-text-secondary;
            font-family: $font-secondary;
        }
        
        p {
            font-family: "Roboto", sans-serif;
            font-weight: 600;
            font-style: normal;
        
        }
        .grid-container{
            background-color: $backgraund-tertiary;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 100px 150px 10px auto auto auto auto;
            grid-template-areas:
                "header header"
                "nav-izquierda nav-derecha"
                "nav-izquierda nav-derecha"
                "parrafo parrafo"
                "img img"
                "img img"
                "footer footer"
                
            ;
        }
        
        header{
            display: flex;
            justify-content: center;
            grid-area: header;
            align-items: center;
            text-align: center;
            gap: 5px;
        }
        
        header h1{
            padding-top: 30px;
            font-size: 35px;
            color: $backgraund-tertiary;
        }
        
        header h2{
            font-size: 35px;
            color: $color-text-primary;
            padding-top: 30px;
        }
        
        header h3{
            text-align: center;
        }
        
        div.nav-izquierda{
            grid-area: nav-izquierda;
            flex-direction: column;
            padding-top: 15px;
        }
        
        div.nav-derecha{
            grid-area: nav-derecha;
            flex-direction: column;
            padding-top: 15px;
        }
        
        .nav-izquierda ul,.nav-derecha ul{
            display: flex;
            justify-content: space-around;
            
        }
        
        section.parrafo {
            grid-area: parrafo;
            align-items: center;
            justify-content: center;
            padding-top: 10px;
            align-content: center;
            display: flex;
            flex-direction: column;
        }
        section.parrafo p:first-child{
            background-color: $background-color-primary;
            border-radius: 8px 8px 0 0;
        }
        
        section.parrafo p{
            color: $color-text-secondary;
        }
        
        section.img-parrafo {
            grid-area: img;
            border-radius: 10px;
            justify-content: center;
            align-content: center;
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: nowrap;
            align-content: stretch;
            justify-content: flex-start;
            overflow: hidden;
            @include media-up(mdm){
                flex-wrap: wrap;
            }
        }
        
        section.img-parrafo:nth-last-child(1){
            background-color: $backgraund-color-secondary;
        }
        
        section.img-parrafo img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        
        aside{
            flex-wrap: wrap;
        }
        
        img{
            width: 100%;
            height: 450px;
            grid-area: img;
            border-radius: 10px;
            justify-content: end;
            align-items: center;
        }
        
        footer {
            padding-top: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 15px;
            grid-area: footer;
            justify-content: center;
            flex-wrap: wrap;
            
        }
        
        footer.video-container-uno{
            background-color: $backgraund-quaternary;
        }
        
        footer img {
            width: 150px;
            height: auto;
        }
    
        
    }
}












