.video-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px ;
    padding-top: 30px;
    background-color: black;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    
}
.end-image{
    border-radius: 10px;
    width: 150px;
    height: auto;
}

.end-line ul li{
    text-align: center;
    list-style-type: none;
    color: wheat;
}
.end-line ul{
    padding-top: 15px;
    
}

.end-line a{
    display: flex;
    justify-content: center;
}

.end-line ul li:nth-child(even)::marker{
    content: "🚗";
    color: white;
}

// MODELOS

footer {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
}

.end-image{
    border-radius: 10px;
}

.end-line{
    text-align: center;
}
.end-line ul{
    padding-top: 15px;
}

.end-line ul li:nth-child(even)::marker{
    content: "🚗";
    color: black;
}
