header{
    padding: 60px;
    text-align: center;
    background-image: url(../assets/images/auto11.jpg);
    .image{
        width: 200px;
        height: 100px;
        border-radius: 10px;
    }
    & .seis{
        color: #9E1717;
    }
    & div{
        background-color: rgba(0, 0, 0, 0.7);
        padding: 10px;
        color: white;
        border-radius: 10px;
    }
    
}




