header{
    padding: 60px;
    text-align: center;
    background-image: url(../assets/images/auto11.jpg);
    & .seis{
        color: $color-text;
    }
    & .siete{
        color: $color-text-secondary;
    }
    & .ocho{
        color: $color-ocho;
    }
    & div{
        background-color: $backgraund-primary;
        padding: 10px;
        color: $color-text-secondary;
        border-radius: 10px;
    }
    
}

.image{
    width: 200px;
    height: 100px;
    border-radius: 10px;
}

// // MODELOS

header{
    display: flex;
    justify-content: center;
    grid-area: header;
    align-items: center;
    text-align: center;
    gap: 5px;
}

// INDEX

.carousel-inner{
    max-height: 33rem;
}






