.row{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

aside{
    flex:30 auto;
    padding: 20px;
    background-color: $backgraund-quaternary;
    height: auto;
}

.row aside img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.main{
    flex: 70%;
    height: 100%;
    background-color: #1A3138;
    padding: 20px;
}

.main .audi-rocho{
    color: $color-text;
}

.main .camaro-desp{
    color: $color-text;
}

// modelos


section.img-parrafo {
    grid-area: img;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    overflow: hidden;
    @include media-up(mdm){
        flex-wrap: wrap;
    }
}

section.parrafo {
    grid-area: parrafo;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    align-content: center;
    display: flex;
    flex-direction: column;
}

aside{
    flex-wrap: wrap;
}