.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color:  $backgraund-secondary;
    
}

// MODELOS

div.nav-izquierda{
    grid-area: nav-izquierda;
    flex-direction: column;
    padding-top: 15px;
}

div.nav-derecha{
    grid-area: nav-derecha;
    flex-direction: column;
    padding-top: 15px;
}

.nav-izquierda ul,.nav-derecha ul{
    display: flex;
    justify-content: space-around;
    
}