.navbar ul li a{
    color: white;
    padding: 0 5px;
    flex-direction: column;

}

.navbar ul li a:hover{
    background-color: black;
    color: #9E1717;
}

.main .best-car{
    background-color: #15292F;
    padding: 5px;
    color: white;
    border-radius: 10px;
    margin: 10px;
}

.main .best-car:hover{
    background-color: #9E1717;
}

.video-link h4{
    display: flex;
    opacity: 0;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    margin-top: 173px;
    margin-left: 5px;
    transition: all 0.3s;
    flex-wrap: wrap;
    
}

.video-link:hover h4{
    opacity: 1;
}

