.row{
    aside{
        flex:30 auto;
        padding: 20px;
        background-color: $backgraund-quaternary;
        height: auto;
        
        .video-img img{
            width: 100%;
            height: 300px;
            background-size: cover;
            background-position: center;
        }
        
        .main{
        flex: 70%;
        height: 100%;
        background-color: $background-quinary;
        padding: 20px;
        }
        }
}

