body{
    font-family: $font-primary;
    font-weight: 400;
    font-style: normal;
}

.navbar ul li{
    list-style: none;
    display: inline;
    margin: 0 10px;
    font-size: 18px;
    font-family: $font-secondary;
    font-weight: 400;
    font-style: normal;
}

.main h4{
    font-size: 20px;
    margin-top: 20px;
}

.main h5{
    font-size: 15px;
}

.main .audi-rocho{
    color: $color-text;
    font-size: 23px;
}

.main .camaro-desp{
    color: $color-text;
    font-size: 23px;
}

h6{
    font-size: 21px;
    background-color: $color-ocho;
    border-radius: 10px;
    & a{
        color: $backgraund-tertiary;
    }
}

// MODELOS

header h1{
    padding-top: 30px;
    font-size: 35px;
    color: $backgraund-tertiary;
}

header h2{
    font-size: 35px;
    color: $color-text-primary;
    padding-top: 30px;
}

header h3{
    text-align: center;
}

